{% extends 'base.html' %}
{% block content %}
<br>
<div class="row">
  {% for campsite in campsites %}
    <div class="col s4">
      <div class="card medium">
        <div class="card-image">
          <img src="{{ campsite.img_url }}">
          <span class="card-title">{{ campsite.name }}</span>
        </div>
        <div class="card-content">
          <h6>{{ campsite.location }}</h6>
        </div>
        <div class="card-action">
          <a class="card-action" href="{% url 'camp_show' campsite.id %}">Visit</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>


{% endblock %}