{% extends 'base.html' %}
{% block content %}

<h1>CampGo</h1>

{% for campsite in campsites %}
<div class="card camp-card">
  <div class="card-image">
    <img class="camp-img" src="{{ campsite.img_url }}">
    <span class="card-title">{{ campsite.name }}</span>
  </div>
  <div class="card-content">
    <p>{{ campsite.location }}</p>
    <p>{{ campsite.description }}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'camp_show' campsite.id %}">Visit</a>
  </div>
</div>
{% endfor %}

{% endblock %}