{% extends 'base.html'%} {% block content%}

<div class="card" id="card">
  <div class="card-content">
    <div class="card-image">
      <img src="{{ campsite.img_url }}" />
      <span class="card-title">{{ campsite.name }}</span>
    </div>
    <h5>{{ campsite.location }}</h5>
    <br />
    <p>{{ campsite.description }}</p>
  </div>
  <div class="card-action">
    <form action="{% url 'assoc_favlist' campsite.id %}" method="POST">
      {% csrf_token %}
      <button type="submit" class="btn">Add Fav</button>
    </form>
  </div>
  {% if campsite.owner == user.username %}
  <div class="card-action">
    <a href="{% url 'camp_update' campsite.id %}">Edit Campsite</a>
  </div>
  {% endif %}
  <form action="{% url 'add_comment' campsite.id  %}" method="POST">
    {% csrf_token %} {{ comment_form.as_p }}
    <input type="submit" class="btn" value="Add Comment" />
  </form>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      {% for comment in campsite.comment_set.all %}
      <tr>
        <td>{{ comment.user }}</td>
        <td>{{ comment.content }}</td>
        {% if comment.user.id == user.id %}
        <td>
          <a href="{% url 'comment_update' comment.id %}">Edit&nbsp;&nbsp;</a>
          <a href="{% url 'comment_delete' comment.id %}">Delete</a>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
