body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

li {
  color: white;
}

#comment {
  border-style: none;

  margin: 15px;
}

.camp-img {
  height: 450px;
}

.camp-card {
  width: 950px;
  align-self: center;
}